body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .profile-header {
    position: relative;
    background-color: #ecf1fd;
    text-align: center;
    padding: 20px;
  }
  
  .cover-photo {
    height: 400px;
    background-image: url('week3-1\ photo3.avif'); /* Replace with actual image URL */
    background-size: cover;
    background-position: 30%;
  }
  
  .profile-picture {
    position: absolute;
    top: 340px;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 100px;
    border-radius: 50%;
    background-image: url('week3-1\ photo2.avif'); /* Replace with actual image URL */
    background-size:contain;
    background-position: center;
  }
  
  .user-info {
    margin-top: 20px;
  }
  
  .user-info h1 {
    margin: 0;
    color: #b51212;
  }
  
  .user-info p {
    margin: 5px 0;
    color: #010201;
  }
  